/* Ensure body has no extra margins */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 30vh; /* Set the height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

/* Services Section */
#services i {
    color: #007bff;
    margin-bottom: 10px;
}
