t/* Ensure body has no extra margins */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Services Section */
#services i {
    color: #007bff;
    margin-bottom: 10px;
}
